/* signup page css*/

.signupbody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupcard{
  /* text-align: center; */
  width: 25%;
  padding: 15px;
}

.signupform{
  padding: 10px;
}

.signupinput{
  display: block;
  margin-bottom: 15px;
  padding: 7px;
  width: 100%;
  border: none;
  background-color: rgb(213, 231, 231);
}

.signupbutton{
  display: block;
  margin: auto;
}

/* login page css */

.loginbody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover; */
}

.logincard{
  text-align: center;
  width: 25%;
  padding: 15px;
  /* background-color: antiquewhite; */
}

.loginform{
  padding: 10px;
}

.logininput{
  display: block;
  margin-bottom: 15px;
  padding: 7px;
  width: 100%;
  border: none;
  background-color: rgb(213, 231, 231);
  /* border-bottom: 1px solid black; */
}

.loginbutton{
  display: block;
  margin: auto;
}

/* addhandicraft page css */

.handicraftbody{
  height: 100vh;
  display: flex;
  align-items: center;
}